Repository feryardiant/firebase-app, changes with the labels that .github/labeler.yml gives for each.
All labels: integration, docs, localization, enhancement

.github/labeler.yml:

integration:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/*.yml'
    - 'scripts/**'
    - '**/test/**'

docs:
- changed-files:
  - any-glob-to-any-file:
    - '.env.example'
    - '**.md'

localization:
- changed-files:
  - any-glob-to-any-file:
    - '**/locales/**'

enhancement:
- changed-files:
  - any-glob-to-any-file: '**'

feat(ci): automate release through github actions
  .github/release.yml
  .github/workflows/release.yml
Labels: integration, enhancement

chore: fix stupid issue on ci config
  .github/workflows/main.yml
Labels: integration, enhancement

chore: remove `.tool-versions`
  .tool-versions
Labels: enhancement

chore(dev): update package name for apps
  apps/functions/package.json
  apps/website/package.json
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(dev): utilizing vitest' `workspace` feature
  package.json
  vitest.workspace.js
Labels: enhancement

chore: init `browserstack` environment variables
  .env.example
  .github/workflows/main.yml
Labels: integration, docs, enhancement

chore: configure vitest to be able run in root workspace
  vitest.config.ts
  vitest.workspace.js
Labels: enhancement

chore(test): init dummy test and add additional dependencies
  package.json
  pnpm-lock.yaml
  test/env.d.ts
  test/example.test.ts
  test/setup.ts
Labels: integration, enhancement

chore(test): disable root vitest config for now
  vitest.workspace.js
Labels: enhancement

chore(test): enable top-level-await to be able runs wdio
  vitest.config.ts
Labels: enhancement

chore(deps): add necessary dependency to vitest browser mode to work
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore: update test and add `wdio` config
  test/env.d.ts
  test/example.test.ts
  wdio.conf.ts
Labels: integration, enhancement

chore(deps): bump all dependencies
  apps/functions/package.json
  apps/website/package.json
  package.json
  pnpm-lock.yaml
Labels: enhancement

chore(deps): bump all dependencies
  apps/functions/package.json
  apps/website/package.json
  package.json
  pnpm-lock.yaml
Labels: enhancement
